.favorite-background {
  display: flex;
  height: 100vh;
}

.favorite-title {
  align-items: center;
  background-color: rgb(47, 170, 179);
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  padding-block: 5.5rem;
  width: 100%;
}

.favorites-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
  padding-bottom: 4rem;
  width: calc(100% - 30rem);
}

.favorite-songs {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-block: 5rem;
  width: 100%;
}
