.login-background {
  align-items: center;
  background-color: #3ab1ab;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.div-login {
  align-items: center;
  background-color: #191b24;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 45rem;
  justify-content: center;
  width: 75rem;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 6.5rem;
}

input {
  background-color: white;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 100px;
  color: rgb(100, 100, 100);
  height: 4rem;
  margin-bottom: 0.9rem;
  text-align: center;
  width: 40rem;
}

::placeholder {
  color: rgb(153, 153, 153);
  opacity: 1;
}

button {
  background-color: #3ab1ab;
  border: none;
  border-radius: 10rem;
  color: white;
  height: 4rem;
  text-align: center;
  width: 40rem;
}

button:enabled:hover {
  scale: 102%;
  transition: 0.3s;
}

:disabled {
  background-color: #3ab1ab85;
  border: none;
  color: rgba(255, 255, 255, 0.493);
}
