.song-div {
  align-items: center;
  display: flex;
}

.loading {
  width: 10rem;
}

.like-checkbox {
  display: none;
}

.like-label {
  align-items: center;
  display: flex;
}

.like-label > span {
  background: url('../Vector3.svg') no-repeat;
  background-size: contain;
  display: block;
  height: 3rem;
  width: 3rem;
}

.like-checkbox:checked + span {
  background-image: url('../Vector4.svg');
  display: inline-block;
}

.music-card {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-block: 1rem;
  width: 70rem;
}

.song-name {
  height: 2.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 32rem;
}

audio {
  background-color: rgb(0, 217, 255);
  margin-right: 4rem;
}

.index {
  color: rgb(173, 173, 173);
  margin-right: 1rem;
}
