.profile-main-content {
  width: calc(100% - 30rem);
}

.profile-page {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 60rem;
}

.profile-pic {
  border-radius: 100%;
  height: 30rem;
  object-fit: cover;
  width: 30rem;
}

.profile-content {
  width: 40rem;
}

h3 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.edit-btn {
  align-items: center;
  background-color: rgb(34, 85, 94);
  border-radius: 20px;
  display: flex;
  height: 3rem;
  justify-content: center;
  margin-top: 2rem;
  transition: 0.1s;
  width: 10rem;
}

.edit-btn:hover {
  background-color: rgb(43, 146, 141);
  transition: 0.2s;
}
